requests==2.26.0
Django==3.2.3
django-filter
djangorestframework==3.12.4
djoser
python-dotenv
Pillow==9.0.0
django-import-export==3.2.0
django-filter
gunicorn==20.1.0
psycopg2-binary==2.9.3
django-colorfield